body {
  background-color: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding: 20px;
}

.title {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 20px;
}

.move-icon {
  height: 70px;
  background-color: transparent;
}

.move-button {
  background-color: transparent;
  border: 3px solid white;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  margin: 10px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.result {
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 30px;
  height: 50px;
}

.score {
  margin-top: 40px;
  font-size: 1.2em;
}

.reset-score {
  background-color: white;
  color: black;
  border: none;
  font-size: 1em;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 30px;
  border-radius: 5px;
}


@media (max-width: 600px) {
  .move-button {
    width: 80px;
    height: 80px;
  }

  .move-icon {
    height: 30px;
  }

  .title {
    font-size: 1.5em;
  }

  .result,
  .score {
    font-size: 1.2em;
  }

  .reset-score {
    font-size: 0.9em;
    padding: 8px 16px;
  }
}
